{% extends "themes/base_visitor.html.twig" %}

{% block title %}Page de Contact{% endblock %}

{% block description %}Contatactez-moi si vous avez des questions ou des idées{% endblock %}

{% block keywords %}Blog, logo final, sante,Médicine,Contact{% endblock %}

{% block main %}

<main>
<h1 class="text-center my-3 disply-5">Page de contact</h1>
</main>

{% endblock %}